<p>{% trans %}Вітаємо!{% endtrans %}!</p>

<p>{% trans %}Додати нового правопорушника можна перейшовши по посиланню:{% endtrans %} <a href="{{ path('homepage') }}" ></a>. {% trans %}Для авторизації введіть:{% endtrans %}</p>
<p>{% trans %}Логін{% endtrans %}: {{ user.email }}</p>
<p>{% trans %}Пароль{% endtrans %}: {{ password }}</p>

<p>{% trans %}З повагою,<br />команда проекту Дорожній патруль{% endtrans %}</p>