<p>{% trans %}Вітаємо!{% endtrans %}</p>

<p>{% trans %}Додати нове порушення правил дорожнього руху можна, перейшовши по посиланню:{% endtrans %} <a href="http://патруль.com">патруль.com</a></p>
<p>{% trans %}Країна повинна знати своїх "героїв"!{% endtrans %}</p>

<p>{% trans %}З повагою,<br />команда проекту Громадський патруль{% endtrans %}.</p>