html,body{
    height:100%;
}

body{
    padding-top:50px;
}

.navbar-custom .icon-bar {
    background-color:#fff;
}

.navbar-custom {
    background-color: #168ccc;
    color:#fff;
}

.navbar-custom li>a:hover,.navbar-custom li>a:focus {
    background-color:#49bfff;
}

.navbar-custom a{
    color:#fefefe;
}

.navbar-custom :focus {
    border-color: #49bfff;
    outline: 0;
    -webkit-box-shadow: inset 0 0 0;
    box-shadow: inset 0 0 0;
}

#main, #main>.row {
    height:100%;
}

#main>.row {
    overflow-y:scroll;
}

#left {
    height:100%;
}

#map {
    width:100%;
    height:100%;
    position:absolute;
    right: 5px;
    left: 5px;
    bottom:0;
    overflow:hidden;
}

.link-app{
    display: block;
    position: absolute;
    top: 4px;
    right: 20px;
}

.link-app {
    display: block;
    position: absolute;
    top: 4px;
    right: 20px;
}